{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}
    <div class="container row">
        <div class="landing">
            <img class="imgs" src="https://images.unsplash.com/photo-1543168256-4ae2229821f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="frm">
            <div class="card ">
                <div class="card-body mb-3 mr-3 ml-3">
                    <form action="" method="post" novalidate>
                        {% csrf_token%}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm D-block mx-auto"> Log In</button>
                    </form>
                </div>
                <a href="" class="D-block mx-auto mb-3">Forgot password? </a>
            </div>
            <div class="card mt-2">
                <div class="card-body mt-3 mb-3 mr-2 ml-4">
                    Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}